__pycache__/
.coverage
.DS_Store
.env
.env*
.ipynb_checkpoints/
.mypy_cache/
.mypy_cache/
.pytest_cache/
.RData
.Rhistory
.snakemake
.spyproject/
.venv/
.vscode/
*.bin
*.csv
*.gz
*.log
*.npy
*.pickel
*.pickle
*.pyc
*.swo
*.swp
*.xlsx
*.zip
**/data/
**/output/
**/secrets/
annotations
archive
clone
clone/
data
desktop.ini
lib
lint-analysis
log
nohup.out
output
output.xml
secrets/
source
tmp/
trashcan
userlist
userlist
whl