*.pyc
*.swp
*.swo
*.gz
*.bin
*.pickle
*.pickel
*.npy
*.xlsx
*.csv
*.log
*.zip
userlist
.env*
.env
.venv/
tmp/
__pycache__/
.pytest_cache/
.mypy_cache/
.mypy_cache/
output.xml
**/output/
**/data/
**/secrets/
data
.ipynb_checkpoints/
.vscode/
.spyproject/
.coverage
.RData
.Rhistory
archive
clone
clone/
desktop.ini
lib
lint-analysis
log
nohup.out
output
trashcan
whl
secrets/
userlist
.DS_Store